<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingRandomAccessFile name="RollingFileLogger" fileName="/partyplanner/logs/PartyPlanner.log" filePattern="/partyplanner/logs/PartyPlanner.%d{yyyy-MM-dd-HH}h.log.gz">
			<PatternLayout pattern="[%d] [%-5p] [%X{user}] [%X{sessionId}] [%X{uuid}] [%t] [%c{1}] - %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1GB" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		<DefaultRolloverStrategy max="999999999"/>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com.partyplanner" level="debug" includeLocation="false">
			<AppenderRef ref="RollingFileLogger" />
		</AsyncLogger>
		<Root level="debug">
			<!--<AppenderRef ref="RollingFileLogger" />-->
		</Root>
	</Loggers>
</Configuration>